.animate-cantanner {
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    width: fit-content;
    border-radius: 10px;
    background-color: #f8f9fa;
  }
  
  .field {
    position: relative;
    border: 2px solid #333;
    width: 800px;
    height: 400px;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .ball {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: background-image 0.3s ease;
    transform-origin: center center;
  }
  