.home {
    text-align: center;
    color: white;
  }
  
  .profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
  }
  